<h1>Create an Account</h1>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
  <mat-form-field>
    <label for="username" name="username">User Name: </label>
    <input type="text" id="username" name="username" #username="ngModel" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <label for="password" name="password">Password: </label>
    <input type="password" id="password" name="password" #password="ngModel" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <label for="email" name="email">Email: </label>
    <input type="email" id="email" name="email" #email="ngModel" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <label for="id" name="id">ID: </label>
    <input type="number" id="id" name="id" #id="ngModel" ngModel>
  </mat-form-field>
  <br>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
